body {
    margin: 0;
    font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", \5FAE\8F6F\96C5\9ED1, tahoma, simsun, \5b8b\4f53;
}

.topNav {
    position: relative;
    z-index: 106;
    background: #bc0e5e;
    border-bottom: 1px solid #ededee;
    color: #fff;
    font-size: 12px;
}

.topNavWrap {
    position: relative;
    zoom: 1;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    width: 1090px;
}

.topNavLeft a {
    text-decoration: blink;
    color: #fff;
}

.topNavLeft .login {
    margin-left: 16px;
}

.topNavLeft .mobile {
    margin-left: 16px;
}

.topNavLeft .mobile i {
    font-size: 16px;

}

.topNavLeft .signIn i {
    font-size: 14px;
}

.step {
    padding: 0 10px;
}

.searchHeader {
    background: transparent;
    position: relative;
    height: 100px;
    z-index: 103;
}

.searchWrap {
    position: relative;
    margin: 0 auto;
    height: 100px;
    width: 1090px;
}

.searchBox {
    width: 510px;
    height: 39px;
    background-color: #333;
    left: 343px;
    position: absolute;
    top: 26px;
}

.search {
    margin: 2px 2px;
    padding: 5px 5px 4px 30px;
    background-color: #fff;
}

.searchBox .search .wrap input {
    width: 423px;
    height: 24px;
    line-height: 24px;
    border: 0;
    font-size: 13px;
    outline: none;
}

.navRight {
    display: inline-block;
    float: right;
}

.logo {
    position: absolute;
    height: 100px;
    line-height: 100px;
    width: 160px;
    text-align: center;
    color: #bc0e5e;
    font-size: 32px;
}

.shopCart {
    color: #333;
    text-decoration: none;
    display: block;
    position: absolute;
    right: 0;
    top: 29px;
    width: 108px;
    height: 34px;
    background-color: #fff;
    line-height: 34px;
    font-size: 13px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.shopCart i {
    color: #bc0e5e;
}

.bannerBox {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/*轮播样式*/
/*轮播*/
.img-banner {
    width: 100%;
    position: relative;
    zoom: 1;
}

.img-box {
    overflow: hidden;
    width: 100%;
    height: 400px;
    position: relative;
}

#show_pic {
    position: absolute;
    top: 0;
    left: 50%;
    height: 400px;
    margin-left: -960px;
}

#show_pic li {
    list-style: none;
    position: absolute;
}

.showImg {
    width: 1920px;
    height: 400px;
}

/*轮播分页栏*/
.img_pagebox {
    width: 920px;
    margin-left: -375px;
    left: 50%;
    bottom: 12px;
    position: absolute;
}

.img-box table {
    border-collapse: collapse;
}

.img-page .page-box {
    vertical-align: middle;
    text-align: center;
}

.w-slbtn {
    height: 28px;
    line-height: 28px;
    background-position: left 0;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    padding: 0 14px;
}

#icon_num .idxicon {
    float: left;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 4px 2px 0;
    background: none;
}

.idxicon .num {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    z-index: 1;
    color: #fff;
    font-size: 13px;
    border-radius: 50%;
    background: #4f6e7d;
    vertical-align: top;
}

.active {
    background: #bc0e5e !important;
}

.num:hover {
    background: #bc0e5e;
}

/*轮播前进、后退*/
.control {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
}

.control div {
    position: relative;
    width: 1090px;
    margin: 0 auto;
}

.control a {
    position: absolute;
    top: 0;
    margin: -34px 0 0;
    width: 34px;
    height: 68px;
    background-image: url(http://mm.bst.126.net/images/index/icon1.png);
}

.prev {
    /*left: 169px;*/
    background-position: -625px -68px;
    cursor: pointer;
}

.prev:hover {
    background-position: -625px -153px;
}

.next {
    background-position: -670px -67px;
    right: 0;
    cursor: pointer;
}

.next:hover {
    background-position: -670px -153px;
}

.con {
    display: none;
}