* {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", \5FAE\8F6F\96C5\9ED1, tahoma, simsun, \5b8b\4f53;
}
li{
    list-style: none;
}
.topBgWrapPos{
    position: relative;
    padding-bottom: 80px;
    background: #f6f6f6;
}
.topNav {
    position: relative;
    z-index: 106;
    background: #bc0e5e;
    border-bottom: 1px solid #ededee;
    color: #fff;
    font-size: 12px;
}

.topNavWrap {
    position: relative;
    zoom: 1;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    width: 1090px;
}

.topNavLeft a {
    text-decoration: blink;
    color: #fff;
}

.topNavLeft .login {
    margin-left: 16px;
}

.topNavLeft .mobile {
    margin-left: 16px;
}

.topNavLeft .mobile i {
    font-size: 16px;

}

.topNavLeft .signIn i {
    font-size: 14px;
}

.step {
    padding: 0 10px;
}

.searchHeader {
    background: transparent;
    position: relative;
    height: 100px;
    z-index: 103;
}

.searchWrap {
    position: relative;
    margin: 0 auto;
    height: 100px;
    width: 1090px;
}

.searchBox {
    width: 510px;
    height: 39px;
    background-color: #333;
    left: 343px;
    position: absolute;
    top: 26px;
}

.search {
    margin: 1px 1px;
    padding: 9px 0 4px 55px;
    background-color: #fff;
}

.searchBox .search .wrap input {
    width: 423px;
    height: 24px;
    line-height: 30px;
    border: 0;
    font-size: 12px;
    outline: none;
}

.navRight {
    display: inline-block;
    float: right;
}

.logo {
    position: absolute;
    height: 100px;
    line-height: 100px;
    width: 160px;
    text-align: center;
    color: #bc0e5e;
    font-size: 32px;
}

.shopCart {
    color: #333;
    text-decoration: none;
    display: block;
    position: absolute;
    right: 0;
    top: 29px;
    width: 108px;
    height: 34px;
    background-color: #fff;
    line-height: 34px;
    font-size: 13px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.shopCart i {
    color: #bc0e5e;
}

.bannerBox {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/*搜索框固定*/
.topTabBoxFixed{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1001;
    background: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.topTabBoxFixed .logo{
    position: absolute;
    left: 0;
    top: 14px;
    width: 162px;
    height: 28px;
    line-height: 28px;
    outline: none;
    cursor: pointer;
}

.topTabBoxFixed .shopCart{
    display: none;
}

.topTabBoxFixed .searchBox{
    top:7px;
}

/*轮播样式*/
/*轮播*/
.img-banner {
    width: 100%;
    position: relative;
    zoom: 1;
}

.img-box {
    overflow: hidden;
    width: 100%;
    height: 400px;
    position: relative;
}

#show_pic {
    position: absolute;
    top: 0;
    left: 50%;
    height: 400px;
    margin-left: -960px;
}

#show_pic li {
    list-style: none;
    position: absolute;
}

.showImg {
    width: 1920px;
    height: 400px;
}

/*轮播分页栏*/
.img_pagebox {
    width: 920px;
    margin-left: -375px;
    left: 50%;
    bottom: 12px;
    position: absolute;
}

.img-box table {
    border-collapse: collapse;
}

.img-page .page-box {
    vertical-align: middle;
    text-align: center;
}

.w-slbtn {
    height: 28px;
    line-height: 28px;
    background-position: left 0;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    padding: 0 14px;
}

#icon_num .idxicon {
    float: left;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 4px 2px 0;
    background: none;
}

.idxicon .num {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    z-index: 1;
    color: #fff;
    font-size: 13px;
    border-radius: 50%;
    background: #4f6e7d;
    vertical-align: top;
}

.active {
    background: #bc0e5e !important;
}

.num:hover {
    background: #bc0e5e;
}

/*轮播前进、后退*/
.control {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
}

.control div {
    position: relative;
    width: 1090px;
    margin: 0 auto;
}

.control a {
    position: absolute;
    top: 0;
    margin: -34px 0 0;
    width: 34px;
    height: 68px;
    background-image: url(http://mm.bst.126.net/images/index/icon1.png);
}

.prev {
    left: 169px;
    background-position: -625px -68px;
    cursor: pointer;
}

.prev:hover {
    background-position: -625px -153px;
}

.next {
    background-position: -670px -67px;
    right: 0;
    cursor: pointer;
}

.next:hover {
    background-position: -670px -153px;
}

.con {
    display: none;
}

/*类目*/
#topTabBox {
    border-bottom: 2px solid #151515;
    background: #fff;
    z-index: 102;
}

#topTab {
    position: relative;
    zoom: 1;
    width: 1090px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    z-index: 102;
}

#topCats {
    float: left;
    height: 40px;
    width: 160px;
    background: #151515;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-left: 0;
    overflow: visible;
}

.toplevel {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 160px;
    text-align: left;
    border-bottom: 2px solid #151515;
}

.toplevel .lineicon {
    display: inline-block;
    margin: 0 15px 0 27px;
    width: 15px;
    height: 12px;
    overflow: hidden;
}

.lineicon i {
    width: 15px;
    height: 0;
    border-top: 2px solid #ddd;
    display: block;
    margin-bottom: 3px;
}

.catlist {
    border-bottom: 1px solid #000;
    margin-top: -1px;
    list-style: none;
    padding: 0;
}

.catlist li {
    background: rgba(15, 15, 15, .82);
    display: list-item;
    padding-left: 10px;
    width: 150px;
    cursor: pointer;
    text-align: left;
    height: 36.3636363636px;
    line-height: 36.3636363636px;
}

.catlist li:hover {
    background: #555;
    padding-left: 7px;
    border-left: 3px solid #e32b42;
}

.catlist li .icon {
    width: 20px;
    height: 20px;
    padding: 0 12px 0 14px;
    display: inline-block;
    vertical-align: middle;
}

.catlist li .word {
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    vertical-align: middle;
}

.catlist li .arr {
    display: inline-block;
    color: #929496;
    font-size: 19px;
    width: 16px;
    vertical-align: middle;
    position: relative;
    background: url("http://mm.bst.126.net/images/index/icon1.png");
    background-position: -680px -65px;
}

.catlist li .seg {
    display: block;
    position: relative;
    bottom: 1px;
    left: 0;
    width: 140px;
    height: 1px;
    background: rgba(255, 255, 255, .05);
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.m-ctgcard {
    transition: height 0.4s;
    position: absolute;
    z-index: 75;
    top: 42px;
    left: 160px;
    display: none;
    width: 930px;
    overflow: hidden;
    max-height: 399px;
    height: 399px;
    background: #fff;
    border: 1px solid #333;
    border-width: 0 1px 1px 0;
    text-align: left;
    color: #333;
    cursor: auto;
}

.m-ctgcard .m-ctglist {
    float: left;
    margin: 10px 20px 20px 20px;
    width: 610px;
    max-height: 370px;
    overflow: hidden;
}

.m-ctglist .f-cb .litd {
    float: left;
    width: 50%;
    vertical-align: top;
}

.f-cb:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "\20 ";
    clear: both;
    height: 0;
}

.litd .item{
    display: inline-block;
    padding: 0;
    margin: 0 25px 10px 5px;
    vertical-align: top;
    width: 275px;
    height: auto;
    line-height: normal;
    overflow: hidden;
}

.litd .item .title {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #EAEAEA;
}

.title a {
    display: inline;
    color: #333;
    text-align: left;
}

.title a:hover {
    text-decoration: underline;
}

.litd .item .ctgnamebox {
    margin-left: -8px;
    font-size: 0;
}

.ctgnamebox a {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    padding: 0 8px 0 10px;
    margin-top: 12px;
    border-left: 1px solid #CCC;
    font-size: 13px;
    color: #666;
}

.ctgnamebox a:hover {
    text-decoration: underline;
}

.m-ctgcard .m-brandbox {
    float: left;
    height: 243px;
    overflow: hidden;
    width: 245px;
    padding: 20px 17px 0;
    background: #f6f6f6;
}

.m-brandbox a {
    float: left;
    padding: 0;
}

.m-brandbox img {
    width: 80px;
    height: 80px;
    border: 1px solid #EAEAEA;
    margin: -1px 0 0 -1px;
    vertical-align: middle;
}

.m-ctgcard .imgbox {
    float: right;
    width: 244px;
    height: 100px;
    padding: 18px;
    background: #f6f6f6;
}

.imgbox .u-img {
    width: 244px;
    height: 100px;
    vertical-align: middle;
}

/*横排功能菜单*/
#funcTab {
    position: relative;
    z-index: 72;
    height: 40px;
    float: left;
    padding-left: 20px;
}

#funcTab li {
    float: left;
    height: 40px;
    overflow: hidden;
    padding: 0 20px;
}

#funcTab li a {
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

#funcTab li a:hover {
    color: red;
}

/*卖点*/
.m-sellpoint{
    margin-bottom: 20px;
    height: 44px;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
}

.m-contentWarp{
    width: 1090px;
    margin: 0 auto;
}

.sellpoint{
    float: left;
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    color: #999;
}

.sellpoint .itm{
    float: left;
    margin-right: 40px;
    color: #999;
    text-decoration: none;
}

.itm i{
    margin-right: 7px;
    font-size: 22px;
    vertical-align: -3px;
}

.m-contentWarp .download{
    float: right;
    color: #e01f35;
    line-height: 44px;
}

.download i{
    margin-right: 5px;
    font-size: 21px;
    vertical-align: -3px;
}

.download a{
    color: #e01f35;
    text-decoration: none;
}

.download a:hover{
    text-decoration: underline;
}

/*source*/
.row-box{
    margin: 0 auto;
    width: 1090px;
}

.row-warp{
    margin-bottom: 10px;
    width: 1090px;
}

.row-warp li{
    float: left;
    list-style: none;
}

.row-warp li:not(:last-child){
    margin-right: 10px;
}

.row-warp .pic{
    height: 220px;
    width: 265px;
}

.row-warp image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*主要内容*/
/*计时盒子*/
.mainBgWrap{
    position: relative;
    zoom: 1;
    width: 1090px;
    margin: 0 auto;
    /*min-height: 600px;*/
}

.my-dailylimt .tit{
    position: relative;
    font-size: 14px;
    color: #999;
    font-weight: normal;
    margin: 37px 0 10px;
}

.tit .big{
    font-size: 22px;
    color:#333;
    margin-right: 10px;
    font-weight: bold;
}

.tit .timebox{
    margin-left: 8px;
    font-weight: bold;
}

.timebox i{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #000;
    color:#fff;
    margin: 0 1.5px;
    border-radius:50% ;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

/*限时购商品部分*/
.my-dailylimt .cnt{
    border-top:3px solid #333;
}

.cnt .goodlist{
    float: left;
    width: 868px;
    border-left: 1px solid #eaeaea;
}

.goodlist .goods{
    position: relative;
    float: left;
    width: 433px;
    height: 188px;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
}

.cnt .aside{
    float: right;
    width: 221px;
    height: 378px;
}

.goods .pic{
    display: inline-block;
    position: relative;
    float: left;
    margin-right: -188px;
    width: 188px;
    height: 188px;
}

.goods .pic .img{
    width: 100%;
    height: 100%;
}

.goods .detail{
    position: relative;
    float: right;
    margin-right: 20px;
    width: 205px;
    height: 188px;
}

.goods .detail .title{
    margin: 20px 0 6px;
    height: 21px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.goods .detail .shortTitle{
    overflow: hidden;
    height: 40px;
    word-break: break-all;
    word-wrap: break-word;
}

.shortTitle a{
    line-height: 20px;
    overflow: hidden;
    font-size: 12px;
    color: #666;
    font-weight: normal;
}

.shortTitle a:hover{
    text-decoration: underline;
}

.goods .detail .price{
    margin: 14px 0 2px;
    font-size: 24px;
    font-weight: bold;
    color: #e11935;
}

.price b{
    font-size: 20px;
    font-weight: normal;
}

.price span{
    font-size: 14px;
    font-weight: normal;
    color:#999;
    margin-left: 8px;
}

.price del{
    font-size: 14px;
    font-weight: normal;
    color:#999;
}

.goods .detail .process{
    position: relative;
    width: 100px;
    height: 18px;
    line-height: 18px;
    text-align: left;
    font-size: 12px;
    color: #de2634;
    border: 1px solid #f3c7c7;
    overflow: hidden;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.process b{
    display: inline-block;
    height: 100%;
    background-color: #ffd2c5;
}

.process .txt{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.goods .detail .btn{
    display: inline-block;
    position: absolute;
    bottom: 30px;
    right: 0;
    width: 78px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #de2634;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #de2634;
    text-decoration: none;
}

.detail .btn:hover{
    opacity:0.8;
}

.aside .pic:hover{
    opacity: 0.8;
}

.aside .pic img{
    width: 221px;
    height: 378px;
}