input:-moz-placeholder{
    color:#d1d1d1;
}
input::-webkit-input-placeholder{
    color:#d1d1d1;
}
input:-ms-input-placeholder{
    color:#d1d1d1;
}
body{
    background: #efefef;
    color: rgb(102, 102, 102);
}

/*头部*/
.g-hd{
    height: 130px;
}
.g-hd .g-in{
    width: 1000px;
    margin: 0 auto;
}
.m-logo{
    float: left;
    width: 300px;
    height: 60px;
    background-position: -50px -18px;
    margin-top: 35px;
}
.m-tr-block{
    float: right;
    font-size: 18px;
    margin-top: 50px;
}
.m-tr-block a{
    color: #ca5252;
}
/*主体*/
.g-bd{
    position: relative;
    width: 1000px;
    padding-bottom: 55px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 3px #cbc9c9;
}
/*Tab*/
.g-tab{
    width: 320px;
    margin: 0 auto;
    padding-top: 44px;
    padding-bottom: 24px;
    text-align: center;
    color:indianred;
    font-size: 20px;
}
/*表单*/
.g-form{
    height: 420px;
    margin-top: 0;
}
.u-input{
    position: relative;
    float: left;
    height: 72px;
    width: 100%;
    overflow: hidden;
}
.u-label{
    float: left;
    width: 340px;
    text-align: right;
    margin-top: 12px;
    font-size: 16px;
    line-height: 45px;
    color: #333;
}
/*按钮*/
/*短信按钮*/
.btn-getsms{
    float: left;
    height: 46px;
    width: 120px;
    font-size: 16px;
    line-height: 46px;
    margin: 12px 0 0 10px;
    color: #fff;
    background: #4ba7e0;
    text-align: center;
    cursor: pointer;
}
.btn-getsms-loading{
    float: left;
    height: 46px;
    width: 120px;
    font-size: 17px;
    margin: 12px 0 0 10px;
    line-height: 46px;
    color: #fff;
    background: #a1d1f6;
    text-align: center;
    opacity: 0.99;
    cursor: auto;
}
.btn-disabled{
    opacity:0.6;
    background: #a1d1f6;
    cursor:default;
}
.smsize{
    width: 190px;
}
/*注册按钮*/
.b-btn{
    float: left;
    border: 0;
    width: 322px;
    height: 46px;
    margin-top: 12px;
    background-color: #ca5252;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 46px;
    cursor: pointer;
}
.btndisabled{
    opacity: 0.6;
    cursor: default;
}
/*提示*/
.tip{
    margin-top: 10px;
    color: #b1b1b1;
    float: left;
    width: 322px;
    font-size: 12px;
}
/*输入框清理样式*/
.u-tip{
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    margin-left: -42px;
    margin-top: 15px;
    z-index: 11;
    background: #fff;
}
.spritbg{
    background: url(../image/sprite.png) no-repeat;
}
.spritbg:hover{
    opacity: 1;
}
.u-clear{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 10px;
    cursor: pointer;
    background-position: -325px -101px;
    opacity: 0.5;
}
/*输入提示*/
.popb{
    float: left;
    margin-left: 10px;
    width: 280px;
    height: 72px;
    max-height: 60px;
    overflow: hidden;
    font-size: 12px;
}
.popb .b-i{
    height: 72px;
    width: 24px;
}
.popb .b-p{
    overflow: hidden;
    line-height: 20px;
    word-break: break-all;
}
/*提示主题*/
.popb.err{
    color: #fa5b5b;
}
.err i{
    float: left;
    width: 22px;
    height: 22px;
    padding: 0 2px 0 0;
    background: url(../image/sprite.png) no-repeat;
    background-position: -62px -98px;
}

.popb.succ{
    color: #71c86f;
}
.succ i{
    float: left;
    width: 22px;
    height: 22px;
    padding: 0 2px 0 0;
    background: url(../image/sprite.png) no-repeat;
    margin-top: 24px;
    background-position: -26px -98px;
}

.popb.warn{
    color: #999;
}
.warn i{
    float: left;
    width: 22px;
    height: 22px;
    padding: 0 2px 0 0;
    background: url(../image/sprite.png) no-repeat;
    background-position: -391px -99px;
}