<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.ActivityMapper">
    <!--新增活动-->
    <insert id="add" parameterType="com.scoprion.mall.domain.Activity">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_activity
        (name,activity_type,status,create_date,start_date,end_date,num,target,discount,describes)
        VALUES
        (#{name},#{activityType},#{status},now(),#{startDate},#{endDate},#{num},#{target},#{discount},#{describes})
    </insert>
    <!--修改活动-->
    <update id="modify" parameterType="com.scoprion.mall.domain.Activity">
        UPDATE t_activity SET
        <if test="name!=null">name=#{name},</if>
        <if test="activityType!=null">activity_type=#{activityType},</if>
        <if test="status!=null">status=#{status},</if>
        <if test="target!=null">target=#{target},</if>
        <if test="createDate!=null">create_date=#{createDate},</if>
        <if test="startDate!=null">start_date=#{startDate},</if>
        <if test="endDate!=null">end_date=#{endDate},</if>
        <if test="num!=null">num=#{num},</if>
        <if test="discount!=null">discount=#{discount},</if>
        <if test="describes!=null">describes=#{describes},</if>
        update_date=now()
        WHERE id=#{id}
    </update>

    <!--根据活动名称模糊查询-->
    <select id="findByCondition" resultType="com.scoprion.mall.domain.Activity">
        SELECT
        ta.id,
        ta.name,
        ta.status,
        ta.activity_type,
        ta.target,
        ta.start_date,
        ta.end_date,
        ta.num,
        ta.discount,
        ta.describes,
        ta.create_date
        FROM t_activity ta WHERE 1=1
        <if test="type!=null and type!=''">AND ta.activity_type=#{type}</if>
        <if test="status!=null and  status!=''">AND ta.status=#{status}</if>
        <if test="searchKey!=null">AND ta.name LIKE #{searchKey}</if>
    </select>

    <!--根据ID删除活动,不做物理删除-->
    <update id="deleteById">
          UPDATE  t_activity  SET  status='UN_NORMAL' WHERE  id=#{id}
    </update>

    <!--查询活动名称数量-->
    <select id="validByName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM  t_activity WHERE  name=#{name} AND status='NORMAL'
    </select>

    <!--活动id、名称校验-->
    <select id="validByNameAndId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_activity WHERE name =#{name} AND id!=#{id} AND status='NORMAL'
    </select>

    <!--根据ID查询活动详情-->
    <select id="findById" resultType="com.scoprion.mall.domain.Activity">
        SELECT  * FROM  t_activity   WHERE  id=#{id}
    </select>

    <!--根据商品id查询商品参加的活动-->
    <select id="findActivityByGoodId" resultType="java.lang.Integer">
        SELECT  COUNT(*) FROM  t_activity_good tag
        LEFT JOIN t_activity ta ON tag.activity_id=ta.id
        WHERE tag.good_id=#{goodId} AND ta.status='NORMAL'
    </select>

    <!--批量修改状态-->
    <update id="batchModifyStatus">
        UPDATE t_activity SET
        status=#{status},
        update_date=now()
        WHERE id IN
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="validByTypeAndTime" resultType="java.lang.Integer">
         SELECT COUNT(*) FROM  t_activity
         WHERE  status='NORMAL'
         AND activity_type=#{activityType}
         AND ((#{startDate} BETWEEN start_date AND end_date)
            OR( #{endDate} BETWEEN start_date AND end_date))
    </select>

</mapper>