<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.ActivityGoodMapper">

    <!--添加商品活动关系-->
    <insert id="bindActivityGood" >
        INSERT INTO t_activity_good
        (activity_id,good_id,status,stock,create_date)
        VALUES
        (#{activityId},#{goodId},#{status},#{stock},now())
    </insert>

    <!--清空活动跟商品的绑定关系-->
    <update id="unbindActivityWithGood">
        UPDATE  t_activity_good SET
        status='UN_NORMAL',
        update_date=now()
        WHERE good_id=#{goodId}
    </update>

    <!--根据商品id查询商品参加的活动-->
    <select id="findByGoodIdAndActivityId" resultType="com.scoprion.mall.domain.ActivityGoods">
        SELECT  id,
        activity_id,
        create_date,
        good_id,
        stock,
        status
        FROM  t_activity_good
        WHERE  good_id=#{goodId} AND activity_id=#{activityId}  AND  status='NORMAL'
    </select>

</mapper>