<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.BannerMapper">
    <!--增加广告-->
    <insert id="add" parameterType="com.scoprion.mall.domain.Banner">
     INSERT INTO t_banner
        (name,image_url,action_url,visit_total,status,create_date,sort)
        VALUES
        (#{name},#{imageUrl},#{actionUrl},#{visitTotal},#{status},now(),#{sort})
     </insert>
    <!--广告名称校验-->
    <select id="validByName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_banner WHERE name =#{bannerName} AND status='NORMAL'
    </select>

    <!--广告id、名称校验-->
    <select id="validByNameAndId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_banner WHERE name =#{bannerName} AND id!=#{id} AND status='NORMAL'
    </select>

    <!--修改广告信息-->
    <update id="modify" parameterType="com.scoprion.mall.domain.Banner">
        UPDATE t_banner SET
        <if test="name!=null">name=#{name},</if>
        <if test="status!=null">status=#{status},</if>
        <if test="imageUrl!=null">image_url=#{imageUrl},</if>
        <if test="actionUrl!=null">action_url=#{actionUrl},</if>
        <if test="sort!=null">sort=#{sort},</if>
        <if test="visitTotal!=null">visit_total=#{visitTotal},</if>
        <if test="createDate!=null">create_date=#{createDate},</if>
        update_date=now()
        WHERE id=#{id}
    </update>

    <!--根据ID删除广告-->
    <update id="deleteById">
        UPDATE   t_banner  SET status='UN_NORMAL' WHERE id=#{id}
    </update>

    <!--分页列表查询-->
    <select id="listByPage" resultType="com.scoprion.mall.domain.Banner">
        SELECT id,
        name,
        image_url,
        action_url,
        visit_total,
        status,
        sort,
        create_date,
        update_date
        FROM t_banner WHERE 1=1
        <if test="searchKey!=null">AND name like #{searchKey}</if>
    </select>

    <!--首页轮播查询-->
    <select id="homeShow" resultType="com.scoprion.mall.domain.Banner">
            SELECT id,
             name,
             image_url,
             action_url,
             visit_total,
             status,
             sort,
             create_date,
             update_date
             FROM t_banner WHERE 1=1 ORDER BY  sort  DESC LIMIT 4
    </select>

    <!--批量修改状态-->
    <update id="batchModifyStatus">
        UPDATE t_banner SET
        status=#{status},
        update_date=now()
        WHERE id IN
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="findById" resultType="com.scoprion.mall.domain.Banner">
        SELECT  id,
        name,
        image_url,
        action_url,
        visit_total,
        status,
        sort,
        create_date,
        update_date
        FROM t_banner
        WHERE id=#{id}
    </select>
</mapper>