<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.BrandMapper">

    <!--新增品牌-->
    <insert id="add" parameterType="com.scoprion.mall.domain.Brand">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_brand
        (brand_name,brand_image,create_date,update_date,status,short_name,country,contact,contact_phone)
        VALUES
        (#{brandName},#{brandImage},now(),now(),#{status},#{shortName},#{country},#{contact},#{contactPhone})
    </insert>

    <!--修改品牌-->
    <update id="modify" parameterType="com.scoprion.mall.domain.Brand">
        UPDATE t_brand SET
        <if test="brandName!=null">brand_name=#{brandName},</if>
        <if test="brandImage!=null">brand_image=#{brandImage},</if>
        <if test="status!=null">status=#{status},</if>
        <if test="shortName!=null">short_name=#{shortName},</if>
        <if test="createDate!=null">create_date=#{createDate},</if>
        <if test="country!=null">country=#{country},</if>
        <if test="contact!=null">contact=#{contact},</if>
        <if test="contactPhone!=null">contact_phone=#{contactPhone},</if>
        update_date=now()
        WHERE id=#{id}
    </update>

    <!--模糊查询-->
    <select id="findByCondition" resultType="com.scoprion.mall.domain.Brand">
        SELECT
        id,
        brand_name,
        brand_image,
        create_date,
        status,
        short_name
        FROM t_brand WHERE 1=1
        <if test="searchKey!=null">AND CONCAT_WS('',brand_name,short_name) LIKE #{searchKey}</if>
    </select>

    <!--查询品牌名称数量-->
    <select id="validByName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM  t_brand WHERE  brand_name=#{brandName} AND status='ENTER'
    </select>

    <!--品牌id、名称校验-->
    <select id="validByNameAndId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_brand WHERE brand_name =#{brandName} AND id!=#{id} AND status='ENTER'
    </select>

    <!--根据ID查询品牌详情-->
    <select id="findById" resultType="com.scoprion.mall.domain.Brand">
        SELECT
        id,
        brand_name,
        brand_image,
        create_date,
        status,
        short_name,
        country,
        contact,
        contact_phone,
        update_date
        FROM  t_brand
        WHERE  id=#{id}
    </select>

    <update id="batchModifyStatus">
        UPDATE t_brand SET
        status=#{status},
        update_date=now()
        WHERE id IN
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--批量删除-->
    <update id="batchDelete">
        UPDATE t_brand SET status='UN_NORMAL' WHERE id IN
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>