<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.FileOperationMapper">

    <!--删除图片-->
    <delete id="deleteByUrl">
        DELETE FROM  t_mall_image WHERE url = #{url}
    </delete>

    <!--根据id删除图片-->
    <delete id="deleteById">
        DELETE FROM t_mall_image WHERE id=#{id}
    </delete>

    <!--插入图片地址，跟商品ID绑定-->
    <insert id="add" parameterType="com.scoprion.mall.domain.MallImage">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_mall_image(create_date,url,article_id,activity_id,banner_id,brand_id,good_id,estimate_id)
        VALUES(now(),#{url},#{articleId},#{activityId},#{bannerId},#{brandId},#{goodId},#{estimateId})
    </insert>

    <!--根据targetId查找图片 商品图片0,品牌图片1,文章图片2,商品评价图片3,广告图片4,活动图片5,其他图片6-->
    <select id="findByCondition" resultType="com.scoprion.mall.domain.MallImage">
        SELECT id,
        article_id,
        activity_id,
        banner_id,
        brand_id,
        good_id,
        estimate_id,
        create_date,
        url
        FROM t_mall_image WHERE 1=1
        <if test="type==0">AND good_id=#{targetId}</if>
        <if test="type==1">AND brand_id=#{targetId}</if>
        <if test="type==2">AND article_id=#{targetId}</if>
        <if test="type==3">AND estimate_id=#{targetId}</if>
        <if test="type==4">AND banner_id=#{targetId}</if>
        <if test="type==5">AND activity_id=#{targetId}</if>
    </select>

    <!--根据id修改图片-->
    <update id="modify" parameterType="com.scoprion.mall.domain.MallImage">
        UPDATE t_mall_image SET update_date=now()
        <if test="createDate!=null ">,create_date=#{createDate}</if>
        <if test="url!=null ">,url=#{url}</if>
        <if test="articleId!=null ">,article_id=#{articleId}</if>
        <if test="activityId!=null ">,activity_id=#{activityId}</if>
        <if test="bannerId!=null ">,banner_id=#{bannerId}</if>
        <if test="brandId!=null ">,brand_id=#{brandId}</if>
        <if test="goodId!=null ">,good_id=#{goodId}</if>
        <if test="estimateId!=null ">,estimate_id=#{estimateId}</if>
        WHERE id=#{id}
    </update>
</mapper>