<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.FileOperationMapper">

    <!--删除图片-->
    <delete id="deleteByUrl">
        DELETE FROM  t_mall_image WHERE url = #{url}
    </delete>

    <!--根据id删除图片-->
    <delete id="deleteById">
        DELETE FROM t_mall_image WHERE id=#{id}
    </delete>

    <!--插入图片地址，跟商品ID绑定-->
    <insert id="add" parameterType="com.scoprion.mall.domain.MallImage">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_mall_image(
        create_date,
        url,
        id_photo_owner_id,
        article_id,
        activity_id,
        banner_id,
        brand_id,
        good_id,
        is_rich_text,
        estimate_id)
        VALUES(now(),
        #{url},
        #{idPhotoOwnerId},
        #{articleId},
        #{activityId},
        #{bannerId},
        #{brandId},
        #{goodId},
        #{isRichText},
        #{estimateId})
    </insert>

    <!--根据targetId查找图片 商品图片0,品牌图片1,文章图片2,商品评价图片3,
    广告图片4,活动图片5, 富文本图片路径 6 ,证件照图片路径  7-->
    <select id="findByTargetId" resultType="com.scoprion.mall.domain.MallImage">
        SELECT id,
        good_id,
        brand_id,
        banner_id,
        id_photo_owner_id,
        article_id,
        activity_id,
        estimate_id,
        is_rich_text,
        create_date,
        url
        FROM t_mall_image WHERE 1=1
        <if test="type==0">AND good_id=#{targetId}</if>
        <if test="type==1">AND brand_id=#{targetId}</if>
        <if test="type==2">AND article_id=#{targetId}</if>
        <if test="type==3">AND estimate_id=#{targetId}</if>
        <if test="type==4">AND banner_id=#{targetId}</if>
        <if test="type==5">AND activity_id=#{targetId}</if>
        <if test="type==6">AND is_rich_text='NORMAL'</if>
        <if test="type==7 and targetId!=null">AND id_photo_owner_id =#{targetId}</if>
        <if test="type==7 and targetId==null">AND id_photo_owner_id IS NOT NULL</if>
    </select>

    <!--根据type查找图片 商品图片0,品牌图片1,文章图片2,商品评价图片3,广告图片4,活动图片5,其他图片6-->
    <select id="findByCondition" resultType="com.scoprion.mall.domain.MallImage">
        SELECT id,
        article_id,
        activity_id,
        id_photo_owner_id,
        banner_id,
        brand_id,
        good_id,
        estimate_id,
        is_rich_text,
        create_date,
        url
        FROM t_mall_image WHERE 1=1
        <if test="type==0">AND good_id IS NOT NULL</if>
        <if test="type==1">AND brand_id IS NOT NULL</if>
        <if test="type==2">AND article_id IS NOT NULL</if>
        <if test="type==3">AND estimate_id IS NOT NULL</if>
        <if test="type==4">AND banner_id IS NOT NULL</if>
        <if test="type==5">AND activity_id IS NOT NULL</if>
        <if test="type==6">AND is_rich_text ='NORMAL'</if>
        <if test="type==7">AND id_photo_owner_id IS NOT NULL</if>
    </select>

    <!--根据id修改图片-->
    <update id="modify" parameterType="com.scoprion.mall.domain.MallImage">
        UPDATE t_mall_image SET update_date=now()
        <if test="createDate!=null ">,create_date=#{createDate}</if>
        <if test="url!=null ">,url=#{url}</if>
        <if test="articleId!=null ">,article_id=#{articleId}</if>
        <if test="activityId!=null ">,activity_id=#{activityId}</if>
        <if test="bannerId!=null ">,banner_id=#{bannerId}</if>
        <if test="brandId!=null ">,brand_id=#{brandId}</if>
        <if test="goodId!=null ">,good_id=#{goodId}</if>
        <if test="estimateId!=null ">,estimate_id=#{estimateId}</if>
        <if test="is_rich_text!=null ">,is_rich_text=#{isRichText}</if>
        <if test="id_photo_owner_id!=null ">,id_photo_owner_id=#{idPhotoOwnerId}</if>
        WHERE id=#{id}
    </update>
</mapper>