<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scoprion.mall.wx.mapper.FreeMapper">

    <select id="findAllByFree" resultType="com.scoprion.mall.domain.Goods">

    </select>

    <select id="findByActivityGoodId" resultType="com.scoprion.mall.domain.ActivityGoods">
        SELECT * FROM t_activity_good WHERE activityGoodId=#{id}
    </select>

    <select id="findByGoodId" resultType="com.scoprion.mall.domain.Goods">
        SELECT * FROM t_good WHERE goodId=#{id}
    </select>
</mapper>