<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scoprion.mall.wx.mapper.FreeMapper">

    <!--下单-->
    <insert id="add" parameterType="com.scoprion.mall.domain.OrderExt">
        <!--<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">-->
            <!--SELECT LAST_INSERT_ID()-->
        <!--</selectKey>-->
        INSERT INTO t_order(userId,
        orderNo,
        goodSnapShotId,
        deliveryId,
        orderStatus,
        orderType,
        message,
        recipients,
        phone,
        province,
        city,
        area,
        address,
        postCode,
        goodName,
        count,
        wxOrderNo,
        createDate,
        goodId,
        useTicket,
        ticketId,
        remark,
        orderFee,
        reduceFee,
        paymentFee,
        goodFee,
        freightFee,
        deliveryNo
        )
        VALUES (#{userId},
        #{orderNo},
        #{goodSnapShotId},
        #{deliveryId},
        '1',
        #{orderType},
        #{message},
        #{recipients},
        #{phone},
        #{province},
        #{city},
        #{area},
        #{address},
        #{postCode},
        #{goodName},
        #{count},
        #{wxOrderNo},
        NOW(),
        #{goodId},
        #{useTicket},
        #{ticketId},
        #{remark},
        #{orderFee},
        #{reduceFee},
        #{paymentFee},
        #{goodFee},
        #{freightFee},
        #{deliveryNo})
    </insert>

    <select id="findById" resultType="com.scoprion.mall.domain.Activity">
        SELECT * FROM t_activity WHERE id=#{activityId}
    </select>

    <select id="findByActivityGoodId" resultType="com.scoprion.mall.domain.ActivityGoods">
        SELECT * FROM t_activity_good WHERE id=#{activityGoodId}
    </select>

    <select id="findByGoodId" resultType="com.scoprion.mall.domain.Goods">
        SELECT * FROM t_good WHERE id=#{goodId}
    </select>

    <select id="validByActivityId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_order WHERE orderType='3' AND userId=#{userId}
    </select>
</mapper>