<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.littlesoft.mapper.GoodListWxMapper">

    <select id="getGoodList" parameterType="java.lang.String" resultType="com.scoprion.mall.domain.GoodExt">
        SELECT ta.id AS activityId,
        ta.type As activityType,
        tg.id AS goodId,
        tg.sellerId AS sellerId,
        tg.name AS goodName,
        tg.goodNo,
        tg.price,
        tg.description,
        tg.promotion,
        tag.activityId,
        tag.goodId,
        ts.name AS sellerName
        FROM t_activity ta LEFT JOIN t_activity_good tag on ta.id = tag.activityId
        LEFT JOIN t_good tg ON tag.goodId=tg.id
        LEFT JOIN t_seller ts ON ts.id = tg.sellerId
        WHERE ta.type=#{type}
    </select>
</mapper>