<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.littlesoft.mapper.GoodWxMapper">
    <!--查询商品详情-->
    <select id="goodDetail" resultType="com.scoprion.mall.domain.Good">
        SELECT * FROM t_good WHERE id = #{goodId}
    </select>
</mapper>