<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.GoodLogMapper">

    <!-- 添加日志信息 -->
    <insert id="add" parameterType="com.scoprion.mall.domain.good.GoodLog">
        INSERT INTO t_good_log(
          good_id,
          good_name,
          action,
          create_date
        ) VALUES (
         #{goodId},
         #{goodName},
         #{action},
         now()
        )
    </insert>
    <!--模糊查询-->
    <select id="findByCondition" resultType="com.scoprion.mall.domain.good.GoodLog">
        SELECT
        id,
        good_id,
        action,
        good_name,
        create_date
        FROM t_good_log
        WHERE 1=1
        <if test="searchkey!=null">>AND CONCAT_WS('',good_name,action) LIKE #{searchkey}</if>
        <if test="goodId!=null">AND good_id=#{goodId}</if>
    </select>
</mapper>