<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.GoodsMapper">

    <insert id="add" parameterType="com.scoprion.mall.domain.Goods">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_good(categoryId,
        goodName,
        description,
        promotion,
        price,
        saleVolume,
        discount,
        stock,
        isOnSale,
        isHot,
        isNew,
        createDate,
        lastUpdateDate,
        isFreight,
        brandId,
        sellerId,
        visitTotal,
        goodNo,
        status,
        richContent,
        mainImgUrl)
        VALUES (#{categoryId},
        #{goodName},
        #{description},
        #{promotion},
        #{price},
        #{saleVolume},
        #{discount},
        #{stock},
        #{isOnSale},
        #{isHot},
        #{isNew},
        NOW(),
        NOW(),
        #{isFreight},
        #{brandId},
        #{sellerId},
        #{visitTotal},
        #{goodNo},
        #{status},
        #{richContent},
        #{mainImgUrl})
    </insert>

    <!--优选商品分页查询-->
    <select id="preferenceGivenByPage" resultType="com.scoprion.mall.domain.Goods">
        SELECT
         id,
         categoryId,
         goodName,
         description,
         promotion,
         price,
         saleVolume,
         discount,
         stock,
         isOnsale,
         isHot,
         isNew,
         createDate,
         lastUpdateDate,
         isFreight,
         brandId,
         sellerId,
         visitTotal,
         goodNo,
         status,
         richContent,
         mainImgUrl
        FROM t_good
    </select>

    <!--根据商品id查询详情-->
    <select id="findById" resultType="com.scoprion.mall.domain.GoodExt">
        SELECT
         good.id,
         good.categoryId,
         good.goodName,
         good.description,
         good.promotion,
         good.price,
         good.saleVolume,
         good.discount,
         good.stock,
         good.isOnsale,
         good.isHot,
         good.isNew,
         good.createDate,
         good.lastUpdateDate,
         good.isFreight,
         good.brandId,
         good.sellerId,
         good.visitTotal,
         good.goodNo,
         good.status,
         good.richContent,
         good.mainImgUrl,
         tacg.activityId as activityId
         FROM t_good good
         LEFT  JOIN t_activity_good  tacg ON tacg.goodId=good.id
        WHERE good.id=#{goodId}
    </select>

    <!--库存扣减-->
    <update id="modifyGoodsDeduction">
        UPDATE t_good SET stock=stock+#{count} WHERE id=#{goodId}
    </update>

    <!--更新商品信息-->
    <update id="updateGoods" parameterType="com.scoprion.mall.domain.Goods">
        UPDATE t_good SET
        <if test="categoryId!=null">categoryId=#{categoryId},</if>
        <if test="goodName!=null">goodName=#{goodName},</if>
        <if test="description!=null">description=#{description},</if>
        <if test="promotion!=null">promotion=#{promotion},</if>
        <if test="price!=null">price=#{price},</if>
        <if test="saleVolume!=null">saleVolume=#{saleVolume},</if>
        <if test="discount!=null">discount=#{discount},</if>
        <if test="stock!=null">stock=#{stock},</if>
        <if test="isOnSale!=null">isOnSale=#{isOnSale},</if>
        <if test="isHot!=null">isHot=#{isHot},</if>
        <if test="isNew!=null">isNew=#{isNew},</if>
        <if test="isFreight!=null">isFreight=#{isFreight},</if>
        <if test="brandId!=null">brandId=#{brandId},</if>
        <if test="sellerId!=null">sellerId=#{sellerId},</if>
        <if test="visitTotal!=null">visitTotal=#{visitTotal},</if>
        <if test="goodNo!=null">goodNo=#{goodNo},</if>
        <if test="mainImgUrl!=null">mainImgUrl=#{mainImgUrl},</if>
        <if test="status!=null">status=#{status},</if>
        <if test="richContent!=null">richContent=#{richContent},</if>
        lastUpdateDate=NOW()
        WHERE id=#{id}
    </update>

    <select id="findByCondition" resultType="com.scoprion.mall.domain.GoodExt">
        SELECT
        good.id,
        good.goodNo,
        good.categoryId,
        good.goodName,
        good.description,
        good.promotion,
        good.price,
        good.saleVolume,
        good.discount,
        good.stock,
        good.isOnSale,
        good.isHot,
        good.isNew,
        good.isFreight,
        good.brandId,
        good.sellerId,
        good.visitTotal,
        good.mainImgUrl,
        good.richContent,
        good.createDate,
        tacg.activityId as activityId,
        tac.startDate as startDate,
        tac.endDate as endDate
        FROM t_good good
        LEFT JOIN t_activity_good tacg ON tacg.goodId=good.id
        LEFT JOIN t_activity tac ON tac.id=tacg.activityId
        WHERE 1=1
        <if test="searchKey!=null and   searchKey!=''">AND CONCAT(good.goodName,good.description,good.goodNo) LIKE
            #{searchKey}
        </if>
        <if test="startDate!=null and endDate!=null">AND good.createDate BETWEEN #{startDate} AND #{endDate}</if>
        <if test="startDate==null and endDate!=null">AND good.createDate BETWEEN '1970-01-01' AND #{endDate}</if>
        <if test="startDate!=null and endDate==null">AND good.createDate BETWEEN #{startDate} AND now()</if>
        <if test="goodNo!=null and goodNo!=''">AND good.goodNo= #{goodNo}</if>
        <if test="saleStatus!=null and saleStatus!=''">AND good.isOnSale= #{saleStatus}</if>
        <if test="isHot!=null and isHot!=''">AND good.isHot= #{isHot}</if>
        <if test="isNew!=null and isNew!=''">AND good.isNew= #{isNew}</if>
        <if test="isFreight!=null and isFreight!=''">AND good.isFreight= #{isFreight}</if>
        <if test="categoryId!=null and categoryId!=''">AND good.categoryId= #{categoryId}</if>
        <if test="brandId!=null and brandId!=''">AND good.brandId= #{brandId}</if>
        <if test="activityId!=null and activityId!=''">AND tacg.activityId= #{activityId}</if>
        ORDER BY good.id
    </select>

    <!--商品上下架-->
    <update id="batchModifySaleStatus">
        UPDATE t_good SET
        isOnSale=#{saleStatus},
        lastUpdateDate=NOW()
        WHERE id IN
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--批量删除商品-->
    <update id="batchDeleteGood">
        UPDATE t_good
        SET status='1',
        lastUpdateDate=now()
        WHERE id IN
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND isOnSale='0'
    </update>
</mapper>