<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.littlesoft.mapper.GoodListLittleSoftMapper">
    <!--获取商品-->
    <select id="goodList" parameterType="java.lang.Long" resultType="com.scoprion.mall.domain.Good">
        SELECT  * from t_wellChoilceList tcl LEFT JOIN  t_good  tg ON
    </select>

    <!--获取拼团活动商品id列表-->
    <select id="groupList" resultType="com.scoprion.mall.domain.Good">
        SELECT goodId from t_group
    </select>

    <!--获取秒杀活动商品id列表-->
    <select id="secondList" resultType="com.scoprion.mall.domain.Good">
        SELECT goodId from t_second
    </select>
</mapper>