<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.MallLogMapper">
    <insert id="add" parameterType="com.scoprion.mall.domain.MallLog">
        INSERT  INTO t_mall_log(good_no,
        seller_no,
        type,
        ip_address,
        create_date,
        description)
        VALUES (#{goodNo},
        #{sellerNo},
        #{type},
        #{ipAddress},
        NOW(),
        #{description})
    </insert>

</mapper>