<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.MockGoodAttrMapper">

    <!--AttrValue-->
    <resultMap type="com.scoprion.mall.domain.AttrValue" id="attrValueResultMap">
        <result column="id" property="id"/>
        <result column="attrId" property="attrId"/>
        <result column="attrValueName" property="attrValueName"/>
        <result column="attrValue" property="attrValue"/>
    </resultMap>

    <!--AttrValueExt-->
    <resultMap id="attrValueExtResultMap" type="com.scoprion.mall.domain.AttrValueExt" extends="attrValueResultMap">
        <result column="attrValueId" property="attrValueId"/>
    </resultMap>

    <!--Attr-->
    <resultMap id="attrResultMap" type="com.scoprion.mall.domain.Attr">
        <result column="id" property="id"/>
        <result column="attrName" property="attrName"/>
        <result column="defaultValueId" property="defaultValueId"/>
        <result column="verNo" property="verNo"/>
    </resultMap>

    <!--AttrExt-->
    <resultMap id="attrExtResultMap" type="com.scoprion.mall.domain.AttrExt" extends="attrResultMap">
        <collection property="attrValueList" resultMap="attrValueExtResultMap"/>
    </resultMap>

    <select id="findAttrExt" resultMap="attrExtResultMap">
        SELECT ta.id,
        ta.attrName,
        ta.defaultValueId,
        ta.verNo,
        tav.id as attrValueId,
        tav.attrId,
        tav.attrValueName,
        tav.attrValue
        FROM t_attr ta LEFT JOIN t_attr_value tav ON ta.id=tav.attrId
    </select>


    <insert id="addAttr" parameterType="com.scoprion.mall.domain.Attr">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_attr(attrName,defaultValueId,verNo)
        VALUES (#{attrName},#{defaultValueId},#{verNo})
    </insert>

    <insert id="addAttrValue" parameterType="com.scoprion.mall.domain.AttrValue">
        INSERT INTO t_attr_value(attrId,attrValueName,attrValue)
        VALUES (#{attrId},#{attrValueName},#{attrValue})
    </insert>

    <insert id="addGoodAttr" parameterType="com.scoprion.mall.domain.GoodAttr">
        INSERT INTO t_good_attr(goodId,attrId,attrName,verNo,attrVisible,defaultValue,seq,attrType,displayType)
        VALUES (#{goodId},#{attrId},#{attrName},#{verNo},#{attrVisible},#{defaultValue},#{seq},#{attrType},#{displayType})
    </insert>

    <select id="findGoodAttr" resultType="com.scoprion.mall.domain.GoodAttr">
        SELECT * FROM t_good_attr WHERE goodId=#{goodId}
    </select>

    <!--<select id="findAttr" resultType="com.scoprion.mall.domain.Attr">-->
        <!--SELECT * FROM t_attr WHERE id=#{attrId}-->
    <!--</select>-->

    <select id="findAttrValue" resultType="com.scoprion.mall.domain.AttrValue">
        SELECT * FROM t_attr_value WHERE attrId=#{attrId}
    </select>
</mapper>