<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.OrderMapper">

    <!--查询4-24小时内未支付的订单列表 UNIX_TIMESTAMP秒  60*60*4 -->
    <select id="findByScheduler" resultType="com.scoprion.mall.domain.Order">
        SELECT
        id,
        orderNo,
        wxOrderNo,
        orderStatus
        FROM
        t_order
        WHERE orderStatus ='1'
        AND UNIX_TIMESTAMP(now()) - UNIX_TIMESTAMP(createDate) BETWEEN 6 AND 60*60*24
    </select>

    <!--订单列表-->
    <select id="findByCondition" resultType="com.scoprion.mall.domain.OrderExt">
        SELECT
        torder.id,
        torder.orderNo,
        torder.goodSnapShotId,
        torder.deliveryId,
        torder.orderType,
        torder.orderFee,
        torder.createDate,
        torder.orderStatus,
        torder.payType,
        torder.payDate,
        tgs.mainImgUrl as goodMainImage
        FROM LEFT JOIN t_good_snapshot tgs ON tgs.id=torder.goodSnapShotId
        t_order torder
        WHERE 1=1
        <if test="searchKey!=null">AND CONCAT(torder.goodName,torder.postCode,torder.address,torder.phone,torder.recipients) LIKE #{searchKey}</if>
        <if test="payType!=null">AND torder.payType =#{payType}</if>
        <if test="orderType!=null">AND torder.orderType =#{orderType}</if>
        <if test="orderStatus!=null and orderStatus!='0'">AND torder.orderStatus =#{orderStatus}</if>
        <if test="phone!=null">AND torder.phone =#{phone}</if>
        <if test="orderNo!=null">AND torder.orderNo =#{orderNo}</if>

        <if test="startDate!=null and endDate!=null">AND torder.createDate BETWEEN #{startDate} AND #{endDate}</if>
        <if test="startDate==null and endDate!=null">AND torder.createDate BETWEEN '1970-01-01' AND #{endDate}</if>
        <if test="startDate!=null and endDate==null">AND torder.createDate BETWEEN #{startDate} AND now()</if>
    </select>

    <!--详情-->
    <select id="findById" resultType="com.scoprion.mall.domain.OrderExt">
        SELECT tor.id,
        tor.userId,
        tor.orderNo,
        tor.goodSnapShotId,
        tor.deliveryId,
        tor.orderStatus,
        tor.orderType,
        tor.payType,
        tor.message,
        tor.orderFee,
        tor.reduceFee,
        tor.paymentFee,
        tor.goodFee,
        tor.freightFee,
        tor.createDate,
        tor.payDate,
        tor.deliveryDate,
        tor.updateDate,
        tor.recipients,
        tor.phone,
        tor.province,
        tor.city,
        tor.area,
        tor.address,
        tor.postCode,
        tor.goodName,
        tor.count,
        tor.prepayId,
        tor.wxOrderNo,
        tor.goodId,
        tor.remark,
        tor.useTicket,
        tor.ticketId,
        tor.operatePoint,
        tor.sendGoodId,
        tor.deliveryNo,
        tg.mainImgUrl as goodMainImage
        FROM t_order tor LEFT JOIN t_good_snapshot tg ON tor.goodSnapShotId=tg.id
        WHERE tor.id=#{id}
    </select>

    <!--修改订单-->
    <update id="modify" parameterType="com.scoprion.mall.domain.Order">
        UPDATE t_order SET
        <if test="userId!=null">userId=#{userId},</if>
        <if test="orderNo!=null">orderNo=#{orderNo},</if>
        <if test="goodSnapShotId!=null">goodSnapShotId=#{goodSnapShotId},</if>
        <if test="deliveryId!=null">deliveryId=#{deliveryId},</if>
        <if test="orderStatus!=null">orderStatus=#{orderStatus},</if>
        <if test="orderType!=null">orderType=#{orderType},</if>
        <if test="payType!=null">payType=#{payType},</if>
        <if test="message!=null">message=#{message},</if>
        <if test="orderFee!=null">orderFee=#{orderFee},</if>
        <if test="reduceFee!=null">reduceFee=#{reduceFee},</if>
        <if test="paymentFee!=null">paymentFee=#{paymentFee},</if>
        <if test="goodFee!=null">goodFee=#{goodFee},</if>
        <if test="freightFee!=null">freightFee=#{freightFee},</if>
        <if test="createDate!=null">createDate=#{createDate},</if>
        <if test="payDate!=null">payDate=#{payDate},</if>
        <if test="deliveryDate!=null">deliveryDate=#{deliveryDate},</if>
        <if test="recipients!=null">recipients=#{recipients},</if>
        <if test="phone!=null">phone=#{phone},</if>
        <if test="province!=null">province=#{province},</if>
        <if test="city!=null">city=#{city},</if>
        <if test="area!=null">area=#{area},</if>
        <if test="address!=null">address=#{address},</if>
        <if test="postCode!=null">postCode=#{postCode},</if>
        <if test="goodName!=null">goodName=#{goodName},</if>
        <if test="count!=null">count=#{count},</if>
        <if test="prepayId!=null">prepayId=#{prepayId},</if>
        <if test="wxOrderNo!=null">wxOrderNo=#{wxOrderNo},</if>
        <if test="goodId!=null">goodId=#{goodId},</if>
        <if test="remark!=null">remark=#{remark},</if>
        <if test="sendGoodId!=null">sendGoodId=#{sendGoodId},</if>
        <if test="useTicket!=null">useTicket=#{useTicket},</if>
        <if test="ticketId!=null">ticketId=#{ticketId},</if>
        <if test="deliveryNo!=null">deliveryNo=#{deliveryNo},</if>
        updateDate=now()
        WHERE id=#{id}
    </update>


    <!--修改订单状态为拒绝-->
    <update id="updateOrderRefundById">
        UPDATE t_order SET orderStatus=#{status},remark=#{remark} WHERE id=#{orderId}
    </update>

    <!--修改订单支付状态-->
    <update id="updateOrderPayStatus">
        UPDATE t_order SET
        updateDate=now()
        <if test="orderStatus!=null">, orderStatus=#{orderStatus}</if>
        <if test="wxOrderNo!=null">,wxOrderNo=#{wxOrderNo}</if>
        <if test="orderNo!=null">,orderNo=#{orderNo}</if>
        <if test="payDate!=null">,payDate=#{payDate}</if>
        WHERE id=#{orderId}
    </update>

    <!--修改订单发货信息-->
    <update id="updateSendGood">
        UPDATE t_order SET
        updateDate=now(),
        deliveryDate=now()
        <if test="orderStatus!=null">, orderStatus=#{orderStatus}</if>
        <if test="sendGoodId!=null">,sendGoodId=#{sendGoodId}</if>
        <if test="deliveryNo!=null">,deliveryNo=#{deliveryNo}</if>
        WHERE id=#{id}
    </update>

</mapper>