<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.OrderLogMapper">
    <!-- 添加日志信息 -->
    <insert id="add" parameterType="com.scoprion.mall.domain.order.OrderLog">
        INSERT INTO t_order_log(
          order_no,
          order_id,
          action,
          ip_address,
          create_date
        ) VALUES (
         #{orderNo},
         #{orderId},
         #{action},
         #{ipAddress},
         now()
        )
    </insert>
    <!--根据订单id查询订单日志-->
    <select id="findByOrderId" resultType="com.scoprion.mall.domain.order.OrderLog">
        SELECT
        id,
        order_no,
        action,
        ip_address,
        create_date,
        order_id
        FROM t_order_log
        WHERE order_id=#{orderId}
    </select>
</mapper>