<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.OrderMapper">

    <!--订单列表-->
    <select id="findByCondition" parameterType="com.scoprion.mall.domain.request.OrderRequestParams"
            resultType="com.scoprion.mall.domain.order.OrderExt">
        SELECT
        torder.id,
        torder.use_point,
        torder.seller_id,
        torder.order_no,
        torder.good_snapshot_id,
        torder.delivery_id,
        torder.order_type,
        torder.order_fee,
        torder.create_date,
        torder.order_status,
        torder.reduce_fee,
        torder.pay_type,
        torder.pay_date,
        tgs.main_image_url as goodMainImage
        FROM t_order torder
        LEFT JOIN t_good_snapshot tgs ON tgs.id=torder.good_snapshot_id
        WHERE 1=1
        <if test="searchKey!=null">AND
            CONCAT_WS('',torder.good_name,torder.post_code,torder.address,torder.phone,torder.recipients) LIKE
            #{searchKey}
        </if>
        <if test="payType!=null and payType!=''">AND torder.pay_type =#{payType}</if>
        <if test="orderType!=null and orderType!=''">AND torder.order_type =#{orderType}</if>
        <if test="orderStatus!=null and orderStatus!=''">AND torder.order_status =#{orderStatus}</if>
        <if test="phone!=null and phone!=''">AND torder.phone =#{phone}</if>
        <if test="orderNo!=null and orderNo!=''">AND torder.order_no =#{orderNo}</if>
        <if test="startDate!=null and endDate!=null">AND torder.create_date BETWEEN #{startDate} AND #{endDate}</if>
        <if test="startDate==null and endDate!=null">AND torder.create_date BETWEEN '1970-01-01' AND #{endDate}</if>
        <if test="startDate!=null and endDate==null">AND torder.create_date BETWEEN #{startDate} AND now()</if>
    </select>

    <!--详情-->
    <select id="findById" resultType="com.scoprion.mall.domain.order.OrderExt">
        SELECT tor.id,
        tor.user_id,
        tor.seller_id,
        tor.use_point,
        tor.order_no,
        tor.good_snapshot_id,
        tor.delivery_id,
        tor.order_status,
        tor.order_type,
        tor.pay_type,
        tor.message,
        tor.order_fee,
        tor.reduce_fee,
        tor.payment_fee,
        tor.good_fee,
        tor.freight_fee,
        tor.create_date,
        tor.pay_date,
        tor.delivery_date,
        tor.update_date,
        tor.recipients,
        tor.phone,
        tor.province,
        tor.city,
        tor.area,
        tor.address,
        tor.post_code,
        tor.good_name,
        tor.count,
        tor.prepay_id,
        tor.wx_order_no,
        tor.good_id,
        tor.remark,
        tor.use_ticket,
        tor.ticket_id,
        tor.operate_point,
        tor.send_good_id,
        tor.delivery_no,
        tg.good_no as goodNo,
        tg.main_image_url as goodMainImage
        FROM t_order tor
        LEFT JOIN t_good_snapshot tg ON tor.good_snapshot_id=tg.id
        WHERE tor.id=#{id}
    </select>

    <!--修改订单-->
    <update id="modify" parameterType="com.scoprion.mall.domain.order.Order">
        UPDATE t_order SET
        <if test="userId!=null">user_id=#{userId},</if>
        <if test="orderNo!=null">order_no=#{orderNo},</if>
        <if test="sellerId!=null">seller_id=#{sellerId},</if>
        <if test="goodSnapShotId!=null">good_snapshot_id=#{goodSnapShotId},</if>
        <if test="deliveryId!=null">delivery_id=#{deliveryId},</if>
        <if test="orderStatus!=null">order_status=#{orderStatus},</if>
        <if test="orderType!=null">order_type=#{orderType},</if>
        <if test="payType!=null">pay_type=#{payType},</if>
        <if test="message!=null">message=#{message},</if>
        <if test="orderFee!=null">order_fee=#{orderFee},</if>
        <if test="reduceFee!=null">reduce_fee=#{reduceFee},</if>
        <if test="paymentFee!=null">payment_fee=#{paymentFee},</if>
        <if test="goodFee!=null">good_fee=#{goodFee},</if>
        <if test="freightFee!=null">freight_fee=#{freightFee},</if>
        <if test="createDate!=null">create_date=#{createDate},</if>
        <if test="payDate!=null">pay_date=#{payDate},</if>
        <if test="deliveryDate!=null">delivery_date=#{deliveryDate},</if>
        <if test="recipients!=null">recipients=#{recipients},</if>
        <if test="phone!=null">phone=#{phone},</if>
        <if test="province!=null">province=#{province},</if>
        <if test="city!=null">city=#{city},</if>
        <if test="area!=null">area=#{area},</if>
        <if test="address!=null">address=#{address},</if>
        <if test="postCode!=null">post_code=#{postCode},</if>
        <if test="goodName!=null">good_name=#{goodName},</if>
        <if test="count!=null">count=#{count},</if>
        <if test="prepayId!=null">prepay_id=#{prepayId},</if>
        <if test="wxOrderNo!=null">wx_order_no=#{wxOrderNo},</if>
        <if test="goodId!=null">good_id=#{goodId},</if>
        <if test="remark!=null">remark=#{remark},</if>
        <if test="sendGoodId!=null">send_good_id=#{sendGoodId},</if>
        <if test="useTicket!=null">use_ticket=#{useTicket},</if>
        <if test="ticketId!=null">ticket_id=#{ticketId},</if>
        <if test="deliveryNo!=null">delivery_no=#{deliveryNo},</if>
        <if test="usePoint!=null">use_point=#{usePoint},</if>
        update_date=now()
        WHERE id=#{id}
    </update>


    <!--修改订单退款状态 refund_date=NOW()-->
    <update id="updateOrderRefundById">
        UPDATE t_order SET
         order_status=#{status},
         refund_fee=#{refundFee},
         update_date=NOW(),
         remark=#{remark}
         WHERE id=#{orderId}
    </update>

    <!--修改订单支付状态-->
    <update id="updateOrderPayStatus">
        UPDATE t_order SET
        update_date=now()
        <if test="orderStatus!=null">,order_status=#{orderStatus}</if>
        <if test="wxOrderNo!=null">,wx_order_no=#{wxOrderNo}</if>
        <if test="orderNo!=null">,order_no=#{orderNo}</if>
        <if test="payDate!=null">,pay_date=#{payDate}</if>
        WHERE id=#{orderId}
    </update>

    <!--修改订单发货信息-->
    <update id="updateSendGood">
        UPDATE t_order SET
        update_date=now(),
        delivery_date=now()
        <if test="orderStatus!=null">,order_status=#{orderStatus}</if>
        <if test="sendGoodId!=null">,send_good_id=#{sendGoodId}</if>
        <if test="deliveryNo!=null">,delivery_no=#{deliveryNo}</if>
        WHERE id=#{id}
    </update>

</mapper>