<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.littlesoft.mapper.WxOrderLogMapper">

    <!--订单日志-->
    <insert id="add" parameterType="com.scoprion.mall.domain.OrderLog">
        INSERT INTO t_order_log(orderNo,action,ipAddress,createDate,orderId)
        VALUES (#{orderNo},#{action},#{ipAddress},NOW(),#{orderId})
    </insert>

    <select id="findOrderLog" resultType="com.scoprion.mall.domain.OrderLog">
        SELECT
        id,
        goodNo,
        sellerNo,
        type,
        ipAddress,
        createDate,
        description,
        orderId
        FROM t_wx_mall_order_log WHERE orderId=#{orderId}
    </select>

</mapper>