<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.OrderMapper">


    <!--下单-->
    <insert id="add" parameterType="com.scoprion.mall.domain.Order">
        INSERT INTO t_order(orderNo,
        goodSnapShotId,
        deliveryId,
        orderStatus,
        orderType,
        createDate,
        updateDate)
        VALUES (#{orderNo},
        #{goodSnapShotId},
        #{deliveryId},
        #{orderStatus},
        #{orderType},
        NOW(),
        NOW())
    </insert>
    <select id="mockList" resultType="com.scoprion.mall.domain.Order">
        SELECT * from t_order
    </select>

    <!--我的订单-->
    <select id="myOrder" resultType="com.scoprion.mall.domain.Order">
        SELECT id,
        orderNo,
        goodSnapShotId,
        deliveryId,
        orderStatus,
        orderType,
        createDate,
        updateDate,
        userId
      FROM t_order WHERE userId=#{userId} and orderStatus=#{status}
    </select>


</mapper>