<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.PointMapper">

    <!--更新积分-->
    <update id="updatePoint">
        UPDATE t_point SET point=point+#{pointVal} WHERE userId=#{userId}
    </update>

    <select id="findByUserId" resultType="com.scoprion.mall.domain.Point">
        SELECT id,
        userId,
        point,
        level,
        levelName,
        createDate,
        updateDate
        FROM t_point WHERE userId=#{userId} limit 1
    </select>
</mapper>