<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.RoleMapper">

    <!-- 添加角色信息 -->
    <insert id="add" parameterType="com.scoprion.mall.domain.SysRole">
        INSERT INTO t_sys_role(
          name,
          remark,
          status ,
          operator,
          role_level ,
          create_date
        ) VALUES (
         #{name},
         #{remark},
         #{status},
         #{operator},
         #{roleLevel},
         now()
        )
    </insert>

    <!--根据id查询详情-->
    <select id="findById" resultType="com.scoprion.mall.domain.SysRole">
        SELECT
        id,
        name,
        remark,
        create_date,
        operator,
        role_level,
        update_date,
        status
        FROM t_sys_role
        WHERE id=#{id}
    </select>

    <select id="validByName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_sys_role
        WHERE name=#{name}
    </select>

    <select id="validByNameAndId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_sys_role
        WHERE id!=#{id} AND name=#{name}
    </select>

    <!--修改-->
    <update id="modify">
        UPDATE t_sys_role SET
        <if test="name!=null">name=#{name},</if>
        <if test="remark!=null">remark=#{remark},</if>
        <if test="operator!=null">operator=#{operator},</if>
        <if test="status!=null">status=#{status},</if>
        update_date=now()
        WHERE id=#{id}
    </update>


    <update id="deleteById">
        UPDATE t_sys_role
        SET
        status='UN_NORMAL',
        update_date=now()
        WHERE id=#{id}
    </update>

    <!--查询可用列表-->
    <select id="findByCondition" resultType="com.scoprion.mall.domain.SysRole">
        SELECT
        id,
        name,
        remark,
        create_date,
        operator,
        role_level,
        update_date,
        status
        FROM t_sys_role
        WHERE 1=1
        <if test="searchKey!=null">AND CONCAT_WS('',name,remark) like #{searchKey}</if>
    </select>

    <!--清空角色菜单关系表-->
    <delete id="clearRelation">
        delete from t_sys_menu_role_relation where role_id=#{roleId}
    </delete>

    <select id="findPidByMenuId" resultType="java.lang.Long">
        SELECT pid FROM t_sys_menu WHERE  id=#{menuId}
    </select>

    <select id="queryExistByPid" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_sys_menu_role_relation
         WHERE role_id=#{roleId} AND menu_id=#{parentId}
    </select>

    <insert id="addRoleMenuRelation">
        INSERT INTO t_sys_menu_role_relation(role_id,menu_id)
        VALUES (#{roleId},#{menuId})
    </insert>

    <insert id="insertPid" parameterType="java.lang.Long">
        INSERT INTO
        t_sys_menu_role_relation(role_id,menu_id)
        VALUES (#{roleId},#{parentId})
    </insert>

    <!--校验角色绑定用户数量-->
    <select id="validUserByRoleId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_sys_user_role WHERE role_id=#{roleId}
    </select>

    <select id="validRoleRelation" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_sys_user_role WHERE user_id=#{userId}
    </select>

    <update id="updateRoleRelation" parameterType="java.lang.Long">
        UPDATE t_sys_user_role SET role_id=#{roleId} WHERE user_id=#{userId}
    </update>

    <insert id="addRoleRelation" parameterType="java.lang.Long">
        INSERT INTO t_sys_user_role(user_id,role_id) VALUE (#{userId},#{roleId})
    </insert>

    <select id="findSellerRole" resultType="com.scoprion.mall.domain.SysRole">
         SELECT
         id,
         name,
         remark,
         operator
         FROM t_sys_role
         WHERE role_level='LEVEL_ORDINARY' AND status='NORMAL'
    </select>
</mapper>