<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scoprion.mall.seller.mapper.SellerMapper">
    <!--新增商铺-->
    <insert id="add" parameterType="com.scoprion.mall.domain.Store">
        INSERT INTO t_store(
        audit,
        status,
        mobile,
        user_id,
        store_no,
        reputation,
        store_name,
        store_address,
        store_description,
        create_date)
        VALUES (
        'AUDITING',
        'NORMAL',
        #{mobile},
        #{userId},
        #{storeNo},
        '50',
        #{storeName},
        #{storeAddress},
        #{storeDescription},
        NOW()
        )
    </insert>

    <!--重新认证个人信息-->
    <update id="reauth" parameterType="com.scoprion.mall.domain.MallUser">
        UPDATE t_user SET
        certification='AUDITING',
        <if test="headPic!=null">head_picture=#{headPic},</if>
        <if test="name!=null">name=#{name},</if>
        <if test="certificateId!=null">certificate_id=#{certificateId},</if>
        <if test="idPhotoFrontUrl!=null">id_photo_front_url=#{idPhotoFrontUrl},</if>
        <if test="idPhotoBgUrl!=null">id_photo_bg_url=#{idPhotoBgUrl},</if>
        update_date=now()
        WHERE id=#{id}
    </update>

    <!--修改店铺状态-->
    <update id="updateStatus">
        UPDATE t_store SET
        status=#{status},
        update_date=NOW()
        WHERE id=#{id}
    </update>

    <!--修改店铺审核状态-->
    <update id="updateAudit">
        UPDATE t_store SET
        audit='AUDITING',
        update_date=NOW()
        WHERE id=#{id}
    </update>

    <!--修改店铺信息-->
    <update id="modify" parameterType="com.scoprion.mall.domain.Store">
        UPDATE t_store SET
        <if test="mobile!=null">mobile=#{mobile},</if>
        <if test="audit!=null">audit=#{audit},</if>
        <if test="storeName!=null">store_name=#{storeName},</if>
        <if test="storeAddress!=null">store_address=#{storeAddress},</if>
        <if test="storeDescription!=null">store_description=#{storeDescription},</if>
        update_date=now()
        WHERE id=#{id}
    </update>

    <!--校验名称是否存在-->
    <select id="validByName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_store WHERE store_name=#{storeName} AND status='NORMAL'
    </select>

    <!--校验商户是否已经存在商铺-->
    <select id="validByUserId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_store WHERE user_id=#{userId} AND status='NORMAL'
    </select>

    <!--校验号码是否存在-->
    <select id="validByMobile" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_user WHERE mobile=#{mobile}
    </select>

    <!--校验昵称是否存在-->
    <select id="validByNickName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_user WHERE nick_name=#{nickName}
    </select>

    <!--根据id校验昵称是否存在-->
    <select id="validByNickNameAndId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_user WHERE nick_name=#{nickName}And id!=#{id}
    </select>

    <!--修改商户个人信息-->
    <update id="alter" parameterType="com.scoprion.mall.domain.MallUser">
        UPDATE t_user SET
        <if test="headPic!=null">head_picture=#{headPic},</if>
        <if test="nickName!=null">nick_name=#{nickName},</if>
        <if test="city!=null">city=#{city},</if>
        <if test="mobile!=null">mobile=#{mobile},</if>
        <if test="email!=null">email=#{email},</if>
        <if test="address!=null">address=#{address},</if>
        update_date=now()
        WHERE id=#{id}
    </update>

    <!--微信商户登录(手机号)-->
    <select id="login" resultType="com.scoprion.mall.domain.MallUser">
        SELECT id,
        name,
        mobile,
        born_date,
        sex,
        age,
        email,
        address,
        password,
        head_picture,
        nick_name,
        certification,
        certificate_id,
        city,
        status,
        create_date,
        update_date,
        last_login_date,
        login_ip,
        user_type,
        id_photo_front_url,
        id_photo_bg_url
        FROM t_user WHERE status='NORMAL'
        AND(email=#{email} AND password=#{password})
        OR(mobile=#{mobile} AND password=#{password})
    </select>

    <!--更新商户最后登录的ip地址-->
    <update id="updateLoginIpAddress" parameterType="com.scoprion.mall.domain.MallUser">
        UPDATE t_user SET
        login_ip=#{ip}
        WHERE id=#{id}
    </update>

    <!--商户注册-->
    <insert id="register" parameterType="com.scoprion.mall.domain.MallUser">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_user(
        name,
        mobile,
        born_date,
        sex,
        age,
        email,
        address,
        password,
        head_picture,
        nick_name,
        certification,
        certificate_id,
        city,
        status,
        create_date,
        user_type,
        id_photo_front_url,
        id_photo_bg_url)
        VALUES (
        #{name},
        #{mobile},
        #{bornDate},
        #{sex},
        #{age},
        #{email},
        #{address},
        #{password},
        #{headPic},
        #{nickName},
        #{certification},
        #{certificateId},
        #{city},
        'NORMAL',
        NOW(),
        'SELLER',
        #{idPhotoFrontUrl},
        #{idPhotoBgUrl}
        )
    </insert>

    <!--商户订单列表-->
    <select id="findByUserId" resultType="com.scoprion.mall.domain.Store">
        SELECT
        id,
        audit,
        status,
        mobile,
        user_id,
        store_no,
        reputation,
        store_name,
        store_address,
        store_description,
        reason
        FROM t_store
        WHERE  user_id=#{userId} AND status !='STATUS_DELETE'
    </select>

    <!--商户详情-->
    <select id="findById" resultType="com.scoprion.mall.domain.Store">
        SELECT
        id,
        audit,
        status,
        mobile,
        user_id,
        store_no,
        reputation,
        store_name,
        store_address,
        store_description,
        reason
        FROM t_store
        WHERE  id=#{id} AND status !='STATUS_DELETE'
    </select>

    <select id="validCertification" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_user
        WHERE id=#{userId} AND status='NORMAL' AND certification='IS_AUTH'
    </select>

    <update id="updateStatusAndAudit">
        UPDATE t_store SET audit='PASS_AUDIT'AND status='NORMAL'WHERE id=#{id}
    </update>
</mapper>