<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.mapper.SellerMapper">

    <insert id="add" parameterType="com.scoprion.mall.domain.Seller">
        INSERT INTO t_seller(name,
        sellerNo,
        address,
        province,
        city,
        mobile,
        password,
        email,
        sellerName,
        status,
        createDate,
        updateDate,
        brandId,
        certificateId,
        certification,
        alipay,
        wechat)
        VALUES (#{name},
        #{sellerNo},
        #{address},
        #{province},
        #{city},
        #{mobile},
        #{password},
        #{email},
        #{sellerName},
        '1',
        NOW(),
        NOW(),
        #{brandId},
        #{certificateId},
        '0',
        #{alipay},
        #{wechat})
    </insert>

    <!--分页查询店铺信息-->
    <select id="listByPage" resultType="com.scoprion.mall.domain.Seller">
        SELECT id,
        name,
        sellerName,
        sellerNo,
        address,
        province,
        city,
        mobile,
        email,
        status,
        createDate,
        updateDate,
        brandId,
        certificateId,
        certification,
        alipay,
        wechat
        FROM t_seller
    </select>


</mapper>