<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.SendGoodMapper">
    <insert id="add" parameterType="com.scoprion.mall.domain.SendGood">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_send_good(order_id,
        sender_id,
        express_name,
        express_no,
        delivery_no,
        create_date)
        VALUES (#{orderId},
        #{senderId},
        #{expressName},
        #{expressNo},
        #{deliveryNo},
        #{createDate})
    </insert>

    <select id="findById" resultType="com.scoprion.mall.domain.SendGood">
        SELECT id,
        order_id,
        sender_id,
        express_name,
        express_no,
        delivery_no,
        create_date,
        update_date
        FROM  t_send_good
        WHERE id=#{id}
    </select>
</mapper>