<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.backstage.mapper.UserMapper">

    <!--根据手机号登录-->
    <select id="login" resultType="com.scoprion.mall.domain.Member">
        SELECT id,name,
        head_picture,
        nick_name,
        sex,
        age,
        certificated_id,
        mobile,
        address,
        city,
        email,
        born_date,
        certification,
        status,
        create_date,
        update_date,
        last_login_date,
        login_ip
        FROM t_user WHERE status='0' AND mobile=#{mobile} AND password=#{password}
    </select>


    <!--根据email登录-->
    <select id="loginByEmail" resultType="com.scoprion.mall.domain.Member">
        SELECT id,name,
        head_picture,
        nick_name,
        sex,
        age,
        certification_id,
        mobile,
        address,
        city,
        email,
        born_date,
        certification,
        status,
        create_date,
        update_date,
        last_login_date,
        login_ip
        FROM t_user WHERE status='1' AND email=#{email} AND password=#{password}
    </select>

    <!--根据手机号查询用户-->
    <select id="findByMobile" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_user WHERE status='1' AND mobile=#{mobile}
    </select>

    <!--根据email查询用户-->
    <select id="findByEmail" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_user WHERE status='1' AND email=#{email}
    </select>

    <!--根据昵称查询用户-->
    <select id="findByNickName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_user WHERE status='1' AND nick_name=#{nickName}
    </select>

    <!--用户注册-->
    <insert id="register" parameterType="com.scoprion.mall.domain.Member">
        INSERT INTO t_user(
        name,
        head_picture,
        nick_name,
        sex,
        age,
        certificate_id,
        mobile,
        address,
        city,
        email,
        born_date,
        certification,
        status,
        create_date,
        update_date,
        last_login_date,
        login_ip,
        password)
        VALUES(
        #{name},
        #{headPic},
        #{nickName},
        #{sex},
        #{age},
        #{certificateId},
        #{mobile},
        #{address},
        #{city},
        #{email},
        #{bornDate},
        '0',
        '0',
        NOW(),
        NOW(),
        NOW(),
        #{loginIp},
        #{password})
    </insert>

    <select id="findByPage" resultType="com.scoprion.mall.domain.Member">
        SELECT id,
        name,
        head_picture,
        nick_name,
        sex,
        age,
        certificate_id,
        mobile,
        address,
        city,
        email,
        born_date,
        certification,
        status,
        create_date,
        update_date,
        last_login_date,
        login_ip,
        user_type
        FROM t_user WHERE 1=1
        <if test="searchKey!=null">
            AND CONCAT(name,nick_name,mobile)LIKE #{searchKey}
        </if>
        <if test="startDate!=null and endDate!=null">
            AND create_date BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="startDate!=null and endDate==null">
            AND create_date BETWEEN #{startDate} AND NOW()
        </if>
        <if test="endDate!=null and startDate==null">
            AND create_date BETWEEN '1970-01-01' AND #{endDate}
        </if>
    </select>

    <update id="modifyUserInfo" parameterType="com.scoprion.mall.domain.Member">
        UPDATE t_user SET
        <if test="name!=null">name=#{name},</if>
        <if test="headPic!=null">head_picture=#{headPic},</if>
        <if test="nickName!=null">nick_name=#{nickName},</if>
        <if test="sex!=null">sex=#{sex},</if>
        <if test="age!=null">age=#{age},</if>
        <if test="certificateId!=null">certificate_id=#{certificateId},</if>
        <if test="mobile!=null">mobile=#{mobile},</if>
        <if test="address!=null">address=#{address},</if>
        <if test="city!=null">city=#{city},</if>
        <if test="email!=null">email=#{email},</if>
        <if test="bornDate!=null">born_date=#{bornDate},</if>
        <if test="certification!=null">certification=#{certification},</if>
        <if test="status!=null">status=#{status},</if>
        <if test="lastLoginDate!=null">last_login_date=#{lastLoginDate},</if>
        <if test="loginIp!=null">login_date=#{loginIp},</if>
        <if test="password!=null">password=#{password},</if>
        <if test="userType!=null">user_type=#{userType},</if>
        update_date=NOW()
        WHERE id=#{id}
    </update>

    <update id="updateLoginIpAddress">
      UPDATE  t_user
      SET login_ip=#{ip}
      WHERE  id=#{id}
    </update>

    <select id="findById" resultType="com.scoprion.mall.domain.Member">
        SELECT * FROM t_user WHERE id=#{id}
    </select>
</mapper>