<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.wx.mapper.WxDeliveryMapper">


    <!--创建收获地址-->
    <insert id="add" parameterType="com.scoprion.mall.domain.Delivery">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_delivery(userId,
        recipients,
        phone,
        province,
        city,
        area,
        address,
        postCode,
        createDate,
        updateDate,
        wechat)
        VALUES(#{userId},
        #{recipients},
        #{phone},
        #{province},
        #{city},
        #{area},
        #{address},
        #{postCode},
        NOW(),
        NOW(),
        #{wechat})
    </insert>

    <!--编辑收货地址-->
    <update id="edit" parameterType="com.scoprion.mall.domain.Delivery">
        UPDATE t_delivery SET recipients=#{recipients},
        phone=#{phone},
        province=#{province},
        city=#{city},
        area=#{area},
        address=#{address},
        postCode=#{postCode},
        updateDate=NOW()
        WHERE userId=#{userId}
    </update>

    <select id="findById" resultType="com.scoprion.mall.domain.Delivery">
        SELECT id,
        userId,
        recipients,
        phone,
        province,
        city,
        area,
        address,
        postCode
        FROM t_delivery
        WHERE id=#{id}
    </select>

    <select id="findByUserId" resultType="com.scoprion.mall.domain.Delivery">
        SELECT id,
        userId,
        recipients,
        phone,
        province,
        city,
        area,
        address,
        postCode
        FROM t_delivery
        WHERE userId=#{userId}
    </select>

</mapper>