<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.wx.mapper.WxEstimateMapper">

    <select id="findPage" resultType="com.scoprion.mall.domain.Estimate">
       SELECT
       id,
       user_id,
       good_id,
       message,
       nick_name,
       create_date,
       update_date
       FROM t_estimate
       WHERE good_id=#{goodId}
    </select>

</mapper>