<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scoprion.mall.wx.mapper.WxFreeMapper">

    <!-- 查询活动详情 -->
    <select id="findById" resultType="com.scoprion.mall.domain.Activity">
        SELECT
        id,
        name,
        status,
        activityType,
        createDate,
        updateDate,
        target,
        num,
        startDate,
        endDate,
        discount,
        describes
        FROM t_activity WHERE id=#{activityId}
    </select>

    <!-- 查询活动商品详情 -->
    <select id="findByActivityGoodId" resultType="com.scoprion.mall.domain.ActivityGoods">
        SELECT
        id,
        activityId,
        goodId,
        createDate,
        goodName,
        stock,
        updateDate
        FROM t_activity_good WHERE id=#{activityGoodId}
    </select>

    <!-- 查询是否参加过该活动 -->
    <select id="validByActivityId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_order WHERE order_type='3' AND userId=#{userId}
    </select>
</mapper>