<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.wx.mapper.WxGoodMapper">

    <!--首页商品列表-->
    <select id="findOnline" resultType="com.scoprion.mall.domain.Goods">
        SELECT
        id,
        categoryId,
        goodName,
        description,
        promotion,
        price,
        saleVolume,
        discount,
        stock,
        isOnSale,
        isHot,
        isNew,
        createDate,
        lastUpdateDate,
        isFreight,
        brandId,
        sellerId,
        visitTotal,
        goodNo,
        mainImgUrl,
        richContent
        FROM t_good WHERE isOnSale='1' AND status='0'
    </select>

    <!--根据商品id查询详情-->
    <select id="findById" resultType="com.scoprion.mall.domain.GoodExt">
        SELECT
        good.id,
        good.categoryId,
        good.goodName,
        good.description,
        good.promotion,
        good.price,
        good.saleVolume,
        good.discount,
        good.isOnSale,
        good.isHot,
        good.isNew,
        good.createDate,
        good.lastUpdateDate,
        good.isFreight,
        good.brandId,
        good.sellerId,
        good.visitTotal,
        good.goodNo,
        good.mainImgUrl,
        good.status,
        good.stock,
        good.richContent,
        tacg.id,
        tacg.activityId,
        tacg.goodId,
        tacg.createDate,
        tacg.goodName,
        tacg.stock AS activityStock,
        tacg.status,
        tacg.updateDate
        FROM t_good good
        LEFT JOIN t_activity_good tacg ON good.id=tacg.goodId
        WHERE good.id=#{goodId}  GROUP BY good.id
    </select>

    <!--商品搜素-->
    <select id="findBySearchKey" resultType="com.scoprion.mall.domain.Goods">
        SELECT
        id,
        categoryId,
        goodName,
        description,
        promotion,
        goodNo,
        price,
        mainImgUrl
        FROM t_good
        WHERE isOnSale='1' AND status='0'
        <if test="searchKey!=null and searchKey!=''">AND CONCAT(goodName,goodNo) LIKE #{searchKey}</if>
    </select>

    <!--库存扣减-->
    <update id="updateGoodStockById">
        UPDATE t_good SET stock=(stock-#{stock}) WHERE id=#{goodId}
    </update>

    <!--修改销量-->
    <update id="updateSaleVolume">
        UPDATE t_good SET saleVolume=(saleVolume+#{saleVolume}) WHERE id=#{goodId}
    </update>

    <!-- 访问量 -->
    <update id="updateVisitTotal">
        UPDATE t_good SET visitTotal=visitTotal+1 WHERE id=#{goodId}
    </update>

</mapper>