<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.wx.mapper.WxGoodMapper">

    <!--根据商品id查询详情-->
    <select id="findById" resultType="com.scoprion.mall.domain.Goods">
        SELECT
        id,
        categoryId,
        goodName,
        description,
        promotion,
        price,
        saleVolume,
        discount,
        stock,
        isOnsale,
        isHot,
        isNew,
        createDate,
        lastUpdateDate,
        isFreight,
        brandId,
        sellerId,
        visitTotal,
        goodNo,
        mainImgUrl
        FROM t_good
        WHERE id=#{goodId}
    </select>


    <!--库存扣减-->
    <update id="updateGoodStockById">
        UPDATE t_good SET stock=(stock-#{stock}) WHERE id=#{goodId}
    </update>

    <!--商品列表-->
    <select id="findOnline" resultType="com.scoprion.mall.domain.Goods">
        SELECT
        id,
        goodNo,
        categoryId,
        goodName,
        description,
        promotion,
        price,
        saleVolume,
        discount,
        stock,
        isOnSale,
        isHot,
        isNew,
        createDate,
        lastUpdateDate,
        isFreight,
        brandId,
        sellerId,
        visitTotal,
        mainImgUrl
        FROM t_good WHERE isOnSale='1'
    </select>

    <!-- 访问量 -->
    <update id="updateVisitTotal">
        UPDATE t_good SET visitTotal=visitTotal+1 WHERE id=#{goodId}
    </update>

</mapper>