<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.wx.mapper.WxGoodMapper">

    <!--首页商品列表-->
    <select id="findHomePage" resultType="com.scoprion.mall.domain.good.Goods">
        SELECT
        good.id,
        good.good_name,
        good.description,
        good.promotion,
        good.price,
        good.sale_volume,
        good.discount,
        good.stock,
        good.on_sale,
        good.hot,
        good.is_new,
        good.create_date,
        good.last_update_date,
        good.freight,
        good.brand_id,
        good.seller_id,
        good.visit_total,
        good.good_no,
        good.seo,
        good.main_image_url,
        good.rich_content,
        tcateg.category_id as category_id
        FROM t_good good
        LEFT JOIN t_category_good tcateg ON tcateg.good_id=good.id
        LEFT JOIN t_category tcat ON tcateg.category_id=tcat.id
        WHERE good.on_sale='ON_SALE'
        AND good.status='NORMAL'
        AND good.audit='PASS_AUDIT'
        <if test="categoryId!=null ">AND(tcat.id=#{categoryId} OR tcat.parent_id=#{categoryId})</if>
        GROUP BY good.id
    </select>

    <!--根据商品id查询详情-->
    <select id="findById" resultType="com.scoprion.mall.domain.good.GoodExt">
        SELECT
        good.id,
        good.category_id,
        good.good_name,
        good.description,
        good.promotion,
        good.price,
        good.sale_volume,
        good.discount,
        good.on_sale,
        good.hot,
        good.is_new,
        good.create_date,
        good.last_update_date,
        good.freight,
        good.brand_id,
        good.seller_id,
        good.visit_total,
        good.good_no,
        good.main_image_url,
        good.status,
        good.stock,
        good.seo,
        good.rich_content,
        tacg.id,
        tacg.activity_id,
        tacg.good_id,
        tacg.create_date,
        tacg.stock AS activity_stock,
        tacg.status,
        tacg.update_date
        FROM t_good good
        LEFT JOIN t_activity_good tacg ON good.id=tacg.good_id
        WHERE good.id=#{goodId}
        AND good.audit='PASS_AUDIT'
    </select>

    <!--商品搜素-->
    <select id="findBySearchKey" resultType="com.scoprion.mall.domain.good.Goods">
        SELECT
        good.id,
        good.good_name,
        good.description,
        good.promotion,
        good.good_no,
        good.price,
        good.seo,
        good.main_image_url,
        tcateg.category_id as category_id
        FROM t_good good
        LEFT JOIN t_category_good tcateg ON tcateg.good_id=good.id
        LEFT JOIN t_category tcat ON tcateg.category_id=tcat.id
        WHERE good.on_sale='ON_SALE'
        AND good.status='NORMAL'
        AND good.audit='PASS_AUDIT'
        <if test="searchKey!=null and searchKey!=''">AND good.seo LIKE #{searchKey}</if>
        <if test="categoryId!=null ">AND(tcat.id=#{categoryId} OR tcat.parent_id=#{categoryId})</if>
        GROUP BY good.id
    </select>

    <!--库存扣减-->
    <update id="updateGoodStockById">
        UPDATE t_good SET stock=(stock-#{stock}) WHERE id=#{goodId}
    </update>

    <!--活动(拼团)商品库存扣减-->
    <update id="updateActivityGoodStockById">
        UPDATE t_activity_good SET stock=(stock-#{count}) WHERE id=#{id}
    </update>

    <!--修改销量-->
    <update id="updateSaleVolume">
        UPDATE t_good SET sale_volume=(sale_volume+#{saleVolume}) WHERE id=#{goodId}
    </update>

    <!-- 访问量 -->
    <update id="updateVisitTotal">
        UPDATE t_good SET visit_total=visit_total+1 WHERE id=#{goodId}
    </update>

    <!--获取商品快照详情-->
    <select id="findByGoodSnapshotDetail" resultType="com.scoprion.mall.domain.good.GoodSnapshot">
        SELECT
        tgs.good_name,
        tgs.price,
        tgs.main_image_url
        FROM t_good_snapshot tgs LEFT JOIN t_order o ON tgs.id=o.good_snapshot_id
        WHERE o.id=#{orderId}
    </select>
</mapper>