<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.wx.mapper.WxGoodSnapShotMapper">
    <insert id="add" parameterType="com.scoprion.mall.domain.GoodSnapshot">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_good_snapshot(goodSnapShotNo,
                                    goodName,
                                    goodDescription,
                                    promotion,
                                    price,
                                    discount,
                                    mainImgUrl,
                                    createDate,
                                    richContent,
                                    goodId)
        VALUES (#{goodSnapShotNo},
                #{goodName},
                #{goodDescription},
                #{promotion},
                #{price},
                #{discount},
                #{mainImgUrl},
                #{richContent},
                NOW(),
                #{goodId})
    </insert>
</mapper>