<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scoprion.mall.wx.mapper.WxPointLogMapper">

    <!--获取积分日志详情-->
    <select id="personalScore" resultType="com.scoprion.mall.domain.PointLog">
        SELECT * FROM t_point_log WHERE userId=#{userId}
    </select>


    <!-- 获取积分日志详情 -->
    <select id="grade" resultType="com.scoprion.mall.domain.PointLog">
        SELECT * FROM t_point_log WHERE userId=#{userId}
    </select>
</mapper>