<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.wx.mapper.WxTicketSnapshotMapper">

    <!--新增-->
    <insert id="add" parameterType="com.scoprion.mall.domain.TicketSnapshot">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_ticket_snapshot
        (ticketName,content,startDate,endDate,money,reduceMoney,num,createDate,
        ticketNo,type,useRange,numLimit,ticketId,status,useDate)
        VALUES
        (#{ticketName},#{content},#{startDate},#{endDate},#{money},#{reduceMoney},#{num},
        now(),#{ticketNo} ,#{type},#{useRange},#{numLimit},#{ticketId},#{status},#{useDate})
    </insert>

    <!--查询详情-->
    <select id="findById" resultType="com.scoprion.mall.domain.TicketSnapshot">
        SELECT
        id,
        ticketName,
        content,
        startDate,
        endDate,
        money,
        reduceMoney,
        num,
        status,
        createDate,
        ticketNo,
        type,
        useDate,
        useRange,
        numLimit
        FROM  t_ticket_snapshot WHERE id=#{id}
    </select>


    <!--查询详情-->
    <select id="findByUserIdAndTicketId" resultType="com.scoprion.mall.domain.TicketSnapshot">
        SELECT
        tts.id,
        tts.ticketName,
        tts.content,
        tts.startDate,
        tts.endDate,
        tts.money,
        tts.reduceMoney,
        tts.num,
        tts.status,
        tts.createDate,
        tts.ticketNo,
        tts.type,
        tts.useDate,
        tts.useRange,
        tts.numLimit
        FROM  t_ticket_snapshot tts
        LEFT JOIN t_ticket_user ttu ON ttu.snapshotId=tts.id
        WHERE tts.ticketId=#{ticketId} AND ttu.userId=#{userId}
    </select>

    <!--修改-->
    <update id="update" parameterType="com.scoprion.mall.domain.TicketSnapshot">
        UPDATE t_ticket_snapshot SET
        <if test="ticketNo!=null ">ticketNo=#{ticketNo},</if>
        <if test="ticketName!=null ">ticketName=#{ticketName},</if>
        <if test="type!=null ">type=#{type},</if>
        <if test="content!=null ">content=#{content},</if>
        <if test="startDate!=null ">startDate=#{startDate},</if>
        <if test="endDate!=null ">endDate=#{endDate},</if>
        <if test="createDate!=null ">createDate=#{createDate},</if>
        <if test="money!=null ">money=#{money},</if>
        <if test="reduceMoney!=null ">reduceMoney=#{reduceMoney},</if>
        <if test="num!=null ">num=#{num},</if>
        <if test="status!=null ">status=#{status},</if>
        <if test="useRange!=null ">useRange=#{useRange},</if>
        <if test="useDate!=null ">useDate=#{useDate},</if>
        <if test="numLimit!=null ">numLimit=#{numLimit},</if>
        updateDate=now()
        where id=#{id}
    </update>

    <!--修改状态-->
    <update id="modifyStatus" parameterType="com.scoprion.mall.domain.TicketSnapshot">
        UPDATE t_ticket_snapshot SET
        <if test="status!=null and status!=''">status=#{status},</if>
        useDate=now(),
        updateDate=now()
        where id=#{id}
    </update>

</mapper>