<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoprion.mall.wx.mapper.WxTicketSnapshotMapper">

    <!--新增-->
    <insert id="add" parameterType="com.scoprion.mall.domain.TicketSnapshot">
       INSERT INTO t_ticket_snapshot
        (ticketName,content,startDate,endDate,money,num,status,createDate,ticketNo,type,useRange,numLimit)
        VALUES
        (#{ticketName},#{content},#{startDate},#{endDate},#{money},#{num},#{status},now(),#{ticketNo}
        ,#{type},#{useRange},#{numLimit})
    </insert>

    <!--查询详情-->
    <select id="findById" resultType="com.scoprion.mall.domain.TicketSnapshot">
        SELECT
        id,
        ticketName,
        content,
        startDate,
        endDate,
        money,
        num,
        status,
        createDate,
        ticketNo,
        type,
        useRange,
        numLimit
        FROM  t_ticket_snapshot WHERE id=#{id}
    </select>
</mapper>