<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scoprion.mall.wx.mapper.WxTicketMapper">

    <!-- 优惠卷列表 -->
    <select id="findByList" resultType="com.scoprion.mall.domain.TicketExt">
        SELECT
        tu.userId,
        tu.num as num,
        tk.id,
        tk.ticketName,
        tk.content
        FROM t_ticket  tk LEFT JOIN t_ticket_user tu ON tk.id=tu.ticketId
        WHERE   tu.userId=#{userId}
    </select>


</mapper>