<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scoprion.mall.wx.mapper.WxTicketMapper">

    <!-- 优惠卷列表 -->
    <select id="findByUserId" resultType="com.scoprion.mall.domain.TicketExt">
        SELECT
        tu.userId,
        tu.createDate,
        tu.num,
        tk.id,
        tk.ticketName,
        tk.content,
        tk.money,
        tk.ticketNo,
        tk.type,
        tk.useRange,
        tk.numLimit,
        tk.status
        FROM t_ticket  tk LEFT JOIN t_ticket_user tu ON tk.id=tu.ticketId
        WHERE   tu.userId=#{userId}
    </select>

    <!--获取用户优惠券详情-->
    <select id="detail" resultType="com.scoprion.mall.domain.TicketUser">
        SELECT * FROM t_ticket_user WHERE userId=#{userId} AND ticketId=#{ticketId}
    </select>


    <!--领取优惠券-->
    <insert id="addTicket" parameterType="com.scoprion.mall.domain.TicketUser">
        INSERT INTO t_ticket_user
        (ticketId,
         userId,
         createDate)
        VALUES
        (#{ticketId},
         #{userId},
         now())
    </insert>
</mapper>